<mat-toolbar *ngIf="show"  class="background">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>To Do List</span>
  <span class="space"></span>
  <button routerLink="all" routerLinkActive="selected" mat-raised-button color="primary">All Task</button>
  <button routerLink="create" routerLinkActive="selected" mat-raised-button color="primary">Create Task</button>
  <button routerLink="update" routerLinkActive="selected" mat-raised-button color="primary">Update Task</button>
  </mat-toolbar>